.wrapper-box-hero {
    width: 1110px;
    height: 235px;
    display: flex;
    background-color: black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-top: 22px;

    .hero-card {
        display: flex;
        align-items: center;
margin-left: 180px;
        .hero-title {
            width: 343px;
            height: 74px;
            font-family: Montserrat;
            font-size: 30px;
            font-weight: 600;
            line-height: 37px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
        }

        .hero-img {
            width: 421px;
            height: 276px;
        }
    }





}