.cases-title{
    font-family: Montserrat;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #838383;
margin-top: 30px;

}
.cases-list{
display: flex;
flex-wrap: wrap;
gap: 30px;


.cases-item{
    width: 350px;
    height: 377.65px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 30px;
    margin-top: 30px;

   
.cases-avatar{
    width: 221px;
height: 252px;



    margin-top: 30px;
    margin-left: 60px;
}
.cases-box{
    width: 340px;
display: flex;


.cases-subtitle{
    width: 250px;
    font-family: Montserrat;
font-size: 15px;
font-weight:600;
line-height: 21px;



   margin-top: 20px;
    margin-left: 30px;
   
}


}
.cases-ptice{
    width: 58px;
height: 21px;
font-family: Montserrat;
font-size: 15px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #FFA542;
margin-top: 20px;



}


}
}
